* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 85px;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  align-items: center;
}

main {
  display: flex;
}

#trybewarts-forms-logo {
  display: flex;
  height: 500px;
  justify-content: flex-end;
}

h1 {
  align-self: center;
  color: antiquewhite;
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
}
